<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.manong.dao.ParkingLotMapper">

    <select id="findLotListByDeptId" resultType="java.lang.Long">
        select pl.`id` from sys_parking_lot as pl where
                pl.`id` in (select lot_id from sys_dept_lot as dl where dl.dept_id = #{departmentId})
    </select>
</mapper>